<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename=('/css/style.css')) }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <title>Add New Order</title>
</head>
<body>
    <div class="container">
        
        <div id="header"></div>

        <div class="row navigation-row">
            <div class="col-8"> <button> <a href="/see_order_add_test2">See Test</a> </button> </div>
            <div class="col-2"><h5><a href="/dashboard">Home</a></h5></div>
            <div class="col-2"><h5><a href="/logout">Logout</a></h5></div>
        </div>
        <div class="row main-body-row">
            <form action="">
                <div class="row order_form_row">
                    <div class="col-6">
                        <label for="">Date: </label>
                        <input type="date" class="o_form_input form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Referred By:</label>
                        <input type="text" class="o_form_input form-control">
                    </div>
                </div>
                <br><br>
                <div class="row main-body-row o_form_col styl_appt_div_hdr" ><h5>CLIENT DETAILS</h5></div>
                <div class="row order_form_row">
                    <div class="col">
                        <label for="" >Name:</label>
                        <input type="text" placeholder="{{current_active_client.first_name}} {{current_active_client.last_name}}" class="o_form_input form-control">
                    </div>
                    <div class="col">
                        <label for="">Phone:</label>
                        <input type="phone" placeholder="{{current_active_client.phone}}" class="o_form_input form-control">
                    </div>
                </div>
                <div class="row order_form_row">
                    <div class="col">
                        <label for="">E-Mail:</label>
                        <input type="text" class="o_form_input form-control">
                    </div>
                    <div class="col">
                        <label for="">Event Date:</label>
                        <input type="date" class="o_form_input form-control">
                    </div>
                </div>
                <div class="row order_form_row">
                    <div class="col">
                        <label for="">Address:</label>
                        <input type="text" class="o_form_input form-control" >
                    </div>
                </div>
                <br><br>
                <div class="row main-body-row o_form_col styl_appt_div_hdr" ><h5>SESSION DETAILS</h5></div>
                <div class="row order_form_row">
                    <div class="col-2 o_form_col">
                        <h6>Sesion Type:</h6>
                    </div>
                    <div class="col-10">
                        <div class="row order_form_row">
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_1" class="lrg_chkbx">
                                <label for="session_type_chkbx_1">Gown</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_2" class="lrg_chkbx">
                                <label for="session_type_chkbx_2">Jumpsuit</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_3" class="lrg_chkbx">
                                <label for="session_type_chkbx_3">Pantsuit</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_4" class="lrg_chkbx">
                                <label for="session_type_chkbx_4">Wedding</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_5" class="lrg_chkbx">
                                <label for="session_type_chkbx_5">Other Event</label>
                            </div>
                        </div>
                        <div class="row order_form_row">
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_6" class="lrg_chkbx">
                                <label for="session_type_chkbx_6">Sample Fitting</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_7" class="lrg_chkbx">
                                <label for="session_type_chkbx_7">Custom Design</label>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" id="session_type_chkbx_8" class="lrg_chkbx">
                                <label for="session_type_chkbx_8">Custom Quote</label>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row order_form_row">
                    <div class="col">
                        <label for="">Session Date:</label>
                        <input type="date">
                    </div>
                    <div class="col">
                        <label for="">Time:</label>
                        <input type="time">
                    </div>
                    <div class="col">
                        <label for="">No. of Guests:</label>
                        <input type="text">
                    </div>
                </div>
                <br><br>
                <div class="row main-body-row o_form_col styl_appt_div_hdr" ><h5>SESSION FEES & CHARGES</h5></div>
                <div class="row main-body-row o_form_col">
                    <h6>ALL APPOINTMENT FEES APPLY AS CREDIT TOWARDS PURCHASE</h6>
                </div>
                <div class="row order_form_row">
                    <div class="col-6 o_form_col">

                        <div class="row order_form_row">
                            <div class="col fees_chkbx">
                            <input type="checkbox" id="fees_chkbx_consultation" class="lrg_chkbx">
                            <label for="fees_chkbx_consultation">Style & Fitting Consultation ($50)
                            </label></div>
                        </div>

                        <div class="row order_form_row">
                            <div class="col fees_chkbx" >
                            <input type="checkbox" id="fees_chkbx_group_rate" class="fees_chkbx_bx_only">
                            <label for="fees_chkbx_group_rate">Group Rate (4+ Guests) ($100)
                            </label></div>
                        </div>

                        <div class="row order_form_row">
                            <div class="col fees_chkbx">
                            <input type="checkbox" id="fees_chkbx_semi_cstm_quote" class="fees_chkbx_bx_only">
                            <label for="fees_chkbx_semi_cstm_quote">Semi-Custom Quote ($100)
                            </label></div>
                        </div>
                        
                        <div class="row order_form_row">
                            <div class="col fees_chkbx">
                            <input type="checkbox" id="fees_chkbx_full_cstm_quote" class="fees_chkbx_bx_only">
                            <label for="fees_chkbx_semi__quote">Full-Custom Quote ($200)
                            </label></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row order_form_row">
                            <p>I agree to pay a non-refundable retainer fee of $35. I understand that all consultation fees are deposits towards my purchase and that my final order must be paid in full when ordered. All sales are final and connot be cancelled once the order is placed.</p>
                        </div>
                        <div class="row order_form_row">
                            <label for="">Client Signature</label>
                            <input type="text" class="o_form_input form-control" >
                        </div>
                        <div class="row order_form_row">
                            <label for="">Date Signed:</label>
                            <input type="date" class="o_form_input form-control">
                        </div>

                    </div>
                </div>


                <br><br>
                <div class="row main-body-row o_form_col styl_appt_div_hdr" ><h5>NOTES</h5></div>
                <div class="row">
                    <textarea name="Appointment_Notes" id="appt_notes" cols="30" rows="3"></textarea>
                </div>
                
            </form>
        </div>
    </div>
    
    <script src="../static/js/script.js"></script>
</body>
</html>