<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename=('/css/style.css')) }}">
    
    <title>Add New Order (Test 2) </title>
</head>

<body>
    <div class="container">
        <form action="/bride_add_name_only" method = 'POST'>
            <!-- Enter part One info:
                    Bride Name. Once entered, create a record in the DB with a unique ID.-->
            <label for="bride_first_name">First Name:</label>
            <input type="text" name="bride_first_name" id="bride_first_name">
            <label for="bride_last_name">Last Name</label>
            <input type="text" name="bride_last_name" id="bride_last_name">
            <input type="submit" value="Start Order" class="btn btn-outline">
        </form>



    </div>






</body>
</html>