*{
    margin:0 auto;
}

.container{
    margin-top:3%;
}
.header-logo-img, .notes-col{
    width:50%;
}
.measurement-container{
    padding-bottom:15px;
    width:50%;
}

.header-row{
    border:1px #AE924F solid;
    box-shadow: 3px 3px 10px #AE924F;
    padding:1%;
}

a{
    text-decoration: none;
    color: #AE924F;
}

.btn-outline, .form-control, .radio{
    border-color:#AE924F;
    box-shadow: 2px 2px 2px #AE924F;
}   


.order-number-col{
    width:5%;
}

.btn{
    width:25%;
    margin-top: 3%;
}
.col-style{
    font-style: italic;
}

.crossout{
    text-decoration: line-through;
}

.order_form_row{
    margin:0.5% auto;
}

.o_form_col{
    text-align:center;
}

.o_form_input{
    width:100%;
}

.veil-box{
    border: 1px solid black;
}

.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    
}

.radio__input{
    display: none;
}

.radio__label{
    padding:8px 24px;
    font-family: sans-serif;
}

.radio__label:not(:last-of-type){
    border-right:3px solid #AE924F;
}

.radio__input:checked + .radio__label{
    background-color: #AE924F;
    color: white;
}

